#main_title {
    background-color: rgba(255,255,255,0.35);
}

#main_title > h3 { 
	 text-shadow: 1px 1px white;
}

.bg-primary {
	background-color: #001C38;
}

.text-primary {
	color: #001C38;
}

#logo {
	height: 100px;
	width: 100px;
}

#progressBar {
	margin: 10%;
}

.ui-progressbar-value {
	transition: width 0.5s;
	-webbkit-transitionn: width 0.5s;
	background-color: #001C38;
}